# Backend
carbone-backend/venv/
carbone-backend/__pycache__/
carbone-backend/*/__pycache__/
carbone-backend/*/migrations/__pycache__/
carbone-backend/db.sqlite3
carbone-backend/.env
carbone-backend/media/
carbone-backend/staticfiles/

# Frontend
carbone-web/node_modules/
carbone-web/dist/

# General
*.pyc
.DS_Store